ARCH=aarch64
BOARD=vexpress
UNITNAME=a64

#export LIBC_ARCH=$(ARCH)

LDSCRIPT=configs/vexpress.ld

#CPUFLAG += -march=armv8-a
CPUFLAG += -march=armv8-a -mgeneral-regs-only
CFLAGS += $(CPUFLAG)
ASFLAGS += $(CPUFLAG)
#CPPFLAGS += -DAARCH64_NO_SEC_TIMER

# Uncomment to disable testsuites
#TESTSUITE_ARCH=
TESTSUITE_BOARD=

